body {
background-color: grey;
}

h1 {
color: red;
font-size: 80px;
}

/*Class is targeted using background .*/
.brasil {
background-color: yellow;
}

.neymar {
background-color: green;
height: 200px;
}

#heading {
color: yellow;
}